CONFIG_CMDLINE="user_debug=31 storagemedia=mtd androidboot.storagemedia=mtd androidboot.mode=normal rootwait earlycon=uart8250,mmio32,0xff4c0000 console=ttyFIQ0 mtdparts=spi-nand0:256K(env),256K@256K(idblock),512K(uboot),4M(boot),30M(oem),6M(userdata),85M(rootfs) ubi.mtd=6 root=/dev/mtdblock8 rootfstype=squashfs ro init=/init snd_soc_core.prealloc_buffer_size_kbytes=16 coherent_pool=0 rk_dma_heap_cma=24M"
# CONFIG_CMDLINE_FROM_BOOTLOADER is not set
# CONFIG_CMDLINE_EXTEND is not set
CONFIG_CMDLINE_FORCE=y
CONFIG_WLAN=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211_WEXT=y
