#
# Copyright (c) OpenIPC  https://openipc.org  MIT License
#
# siproxd_passwd.cfg — siproxd_passwd.cfg OpenIPC script
#
######################################################################
#
# Per user password file for siproxd
#
# format is:
# <username> <password>
# username and password must not contains white spaces
#
######################################################################
001 asdfghjkl
002 asdfghjkl
003 asdfghjkl
004 asdfghjkl
005 asdfghjkl
006 asdfghjkl
007 asdfghjkl
008 asdfghjkl
009 asdfghjkl
#
