## @file
# CODEOWNERS
#
# Copyright (c) 2022, Intel Corporation. All rights reserved.<BR>
# SPDX-License-Identifier: BSD-2-Clause-Patent
##

*       @cronyx @FlyRouter @viktorxda
README.*  @p0i5k @ystinia @ZigFisher
