## @file
# CODEOWNERS
#
# Copyright (c) 2022, Intel Corporation. All rights reserved.<BR>
# SPDX-License-Identifier: BSD-2-Clause-Patent
##

* @ZigFisher
* @p0i5k
* @cronyx
* @dimerr
* @widgetii
* @themactep
* @FlyRouter

