# Architecture
BR2_arm=y
BR2_cortex_a5=y
BR2_ARM_INSTRUCTIONS_THUMB2=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.10.103"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_10=y

# Toolchain
BR2_GCC_VERSION_7_X=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.10.103"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_XIONGMAI_PATH)/board/xm530/kernel/xm530.generic.config"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_EXT_XIONGMAI_PATCHER=y
BR2_LINUX_KERNEL_EXT_XIONGMAI_PATCHER_LIST="$(BR2_EXTERNAL_XIONGMAI_PATH)/board/xm530/kernel/patches/ $(BR2_EXTERNAL_XIONGMAI_PATH)/board/xm530/kernel/overlay"

# Filesystem
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_XIONGMAI_PATH)/board/unknown_unknown_xm530_unknown/putonrootfs"

# Packages
BR2_PACKAGE_DROPBEAR=y

# OpenIPC
BR2_TOOLCHAIN_BUILDROOT_VENDOR="openipc.org"
BR2_TARGET_GENERIC_ISSUE="Welcome to OpenIPC v21.04.1"
BR2_TARGET_GENERIC_HOSTNAME="ipcam"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_XIONGMAI_PATH)/configs/software/busybox.config"
BR2_PACKAGE_IPCTOOL=y
