body {
	font-family: Helvetica;
	background-color: #1e1e1e;
	color: #dcdcdc;
	text-align: center;
}

header {
	background-color: #252526;
	border-radius: 4px;
	box-shadow: 0 2px 10px #00000080;
	color: white;
	padding: 15px 0;
}

h3 {
	font-size: 1.5rem;
	margin-top: 1rem;
	color: #dee2e6bf;
}

.container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.form-section .row {
	display: flex;
	justify-content: space-between;
	margin: 10px 40px;
}

.form-section {
	width: 45%;
	margin: 20px 0;
	padding-top: 20px;
	background-color: #2d2d2d;
	border-radius: 4px;
	box-shadow: 0 2px 10px #00000080;
}

.form-section label {
	width: 10vw;
	margin: 10px 0 5px;
	display: inline-block;
	font-weight: bold;
	color: #dee2e6;
	font-size: 0.9rem;
}

.form-section select {
	width: 16vw;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #3c3c3c;
	border-radius: 4px;
	border: 1px solid #555;
	color: #dcdcdc;
	font-size: 0.9rem;
}

.form-section input {
	width: 16vw;
	height: 26px;
	margin-bottom: 25px;
}

.form-section button {
	width: 20vw;
	padding: 10px;
	margin: 10px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: white;
	border-radius: 4px;
	box-shadow: 0 2px 10px #00000040;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px;
}

#preview {
	width: 100%;
	max-width: 75%;
	margin-top: 25px;
	background-color: #000;
	border-radius: 4px;
	box-shadow: 0 2px 10px #00000080;
}

#apply-video-button, #apply-wfb-button {
	background-color: #0d4aa5;
}

#apply-video-button:hover, #apply-wfb-button:hover {
	background-color: #115fd4;
}

#reset-video-button, #reset-wfb-button {
	background-color: #a11212;
}

#reset-video-button:hover, #reset-wfb-button:hover {
	background-color: #cf1717;
}
