/*
 * Copyright (c) Hunan Goke,Chengdu Goke,Shandong Goke. 2021. All rights reserved.
 */

/dts-v1/;
#include "gk7202v300.dtsi"

/ {
	model = "Goke GK7202V300 DEMO Board";
	compatible = "goke,gk7202v300";

	memory {
		device_type = "memory";
		reg = <0x40000000 0x20000000>;
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "disabled";
};

&uart2 {
	status = "disabled";
};

&i2c_bus0 {
	status = "okay";
	clock-frequency = <100000>;
};

&i2c_bus1 {
	status = "okay";
	clock-frequency = <100000>;
};

&i2c_bus2 {
	status = "okay";
	clock-frequency = <100000>;
};

&spi_bus0{
	status = "okay";
	num-cs = <1>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		pl022,interface = <0>;
		pl022,com-mode = <0>;
		spi-max-frequency = <50000000>;
	};
};

&spi_bus1{
	status = "okay";
	num-cs = <2>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		pl022,interface = <0>;
		pl022,com-mode = <0>;
		spi-max-frequency = <50000000>;
	};
	spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		pl022,interface = <0>;
		pl022,com-mode = <0>;
		spi-max-frequency = <50000000>;
	};
};

&dual_timer0 {
	status = "okay";
};

&mdio0 {
	goke,phy-reset-delays-us = <10000 20000 150000>;
	phy0: ethernet-phy@1 {
		reg = <1>;
	};
};

&femac {
	mac-address = [00 00 00 00 00 00];
	phy-mode = "mii";
	phy-handle = <&phy0>;
	status = "okay";
};

&sfc {
	sfc {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <160000000>;
	};
};

&snfc {
	nand {
		compatible = "jedec,spi-nand";
		reg = <0>;
		spi-max-frequency = <160000000>;
	};
};

&mmc0 {
	status = "okay";
};

&mmc1 {
	status = "okay";
};

&gpio_chip0 {
	status = "okay";
};

&gpio_chip1 {
	status = "okay";
};

&gpio_chip2 {
	status = "okay";
};

&gpio_chip4 {
	status = "okay";
};

&gpio_chip5 {
	status = "okay";
};

&gpio_chip6 {
	status = "okay";
};

&gpio_chip7 {
	status = "okay";
};

&gpio_chip8 {
	status = "okay";
};

