/*
 * Copyright (c) 2013-2014 Linaro Ltd.
 * Copyright (c) 2015-2017 HiSilicon Technologies Co., Ltd.
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General  Public License as published by the
 * Free Software Foundation;  either version 2 of the  License, or (at your
 * option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

/dts-v1/;
#include "hi3516a.dtsi"

/ {
	model = "Hisilicon HI3516A DEMO Board";
	compatible = "hiSilicon,hi3516a";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0>;

			operating-points = <
				/* KHz    uV */
				 600000 1100000
				 732000 1200000
				 850000 1300000
				 500000 1060000
				 400000 1020000
		    >;

			clocks = <&clock HI3516A_A7_MUX>,
				<&clock HI3516A_FIXED_400M>,
				<&clock HI3516A_FIXED_500M>,
				<&clock HI3516A_APLL_CLK>;
			clock-names = "a7_mux","400m", "500m","apll";

			vcc-supply = <&a7_regulator>;
		};
	};

	avs {
		compatible = "hi3516a,avs";
		avs-num = <2>;
		avs-name-array = "cpu-avs","media-avs";
		cpu_avs: cpu_avs{
			avs-name = "cpu-avs";
			opp-num = <5>;
			opp-freq = <600000 732000 850000 500000 400000>;
			opp-volt-min = <940000 1000000 1070000 940000 940000>;
			opp-hpm = <270 325 365 255 240>;
			opp-div = <11 14 16 10 8>;
			opp-volt-max = <1310000>;
		};

		media_avs: media_avs{
			avs-name = "media-avs";
			opp-num = <5>;
			opp-freq = <0 1 2 3 4>;
			opp-volt-min = <930000 930000 930000 930000 930000>;
			opp-hpm = <245 245 245 260 285>;
			opp-div = <3 3 4 5 5>;
			opp-volt-max = <1310000>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};
};

&uart0 {
	status = "okay";
};

&dual_timer0 {
	status = "okay";
};


&hidmac {
	status = "okay";
};


&i2c_bus0 {
	status = "okay";
};

&i2c_bus1 {
	status = "okay";
};

&i2c_bus2 {
	status = "okay";
};


&spi_bus0{
	status = "okay";
	num-cs = <1>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		pl022,interface = <0>;
		pl022,com_mode = <0>;
		spi-max-frequency = <24000000>;
	};
};

&spi_bus1{
	status = "okay";
	num-cs = <3>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		pl022,interface = <0>;
		pl022,com_mode = <0>;
		spi-max-frequency = <24000000>;
	};

	spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		pl022,interface = <0>;
		pl022,com_mode = <0>;
		spi-max-frequency = <24000000>;
	};

	spidev@2 {
		compatible = "rohm,dh2228fv";
		reg = <2>;
		pl022,interface = <0>;
		pl022,com_mode = <0>;
		spi-max-frequency = <24000000>;
	};
};

&mdio {
	ethphy: ethernet-phy@1 {
		/* reg = <1>; Disabled to invoke autoprobe */
	};
};

&higmac {
	phy-handle = <&ethphy>;
	phy-mode = "rmii";
};


&mmc0 {
	status = "okay";
};

&mmc1 {
	status = "okay";
};

&gpio_chip0 {
	status = "okay";
};

&gpio_chip1 {
	status = "okay";
};

&gpio_chip2 {
	status = "okay";
};

&gpio_chip3 {
	status = "okay";
};

&gpio_chip4 {
	status = "okay";
};

&gpio_chip5 {
	status = "okay";
};

&gpio_chip6 {
	status = "okay";
};

&gpio_chip7 {
	status = "okay";
};

&gpio_chip8 {
	status = "okay";
};

&gpio_chip9 {
	status = "okay";
};

&gpio_chip10 {
	status = "okay";
};

&gpio_chip11 {
	status = "okay";
};

&gpio_chip12 {
	status = "okay";
};

&gpio_chip13 {
	status = "okay";
};

&gpio_chip14 {
	status = "okay";
};

&gpio_chip15 {
	status = "okay";
};

